.navbar{
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	border: 0 !important;
	box-shadow: 0 !important;
}

.header {
	background-image:none !important;
	background-color: #FFF !important; 
}

span.logo {
	font-size: 30px !important;
	color: #3232CD;
}

span#corps{
	font-size: 25px;
	color: #3232CD;
}